html {
    background-color: #251010;
}

body {
    font-family: 'Poppins', sans-serif;
}

.glass {
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
}
